.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 55%;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .book-image {
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .book-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-author {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .book-price {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #1e35cb;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .book-price:hover{
    background-color:#FF5E5B;
  }
  